<h3>ApiDemo</h3>

@using WEB_VOITESHONOK_953501.Blazor.Client.Components

@page "/apidemo"
@inject HttpClient client
<div class="container">
    <DishesList @bind-Dishes="@Dishes" SelectedObjectChanged="ShowDetails"></DishesList>
    @*<DishDetails @bind-Dish="@SelectedDish"></DishDetails>*@
        </div>

@code {
    [Parameter]
    public IEnumerable<ListViewModel> Dishes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Dishes = await client.GetFromJsonAsync<IEnumerable<ListViewModel>>("api/dishes");
    }

    [Parameter]
    public DetailsViewModel SelectedDish { get; set; }
    private async Task ShowDetails(int id)
    {
        SelectedDish = await client.GetFromJsonAsync<DetailsViewModel>($"api/dishes/{id}");
    }
}
