<h3>Components</h3>

@if (Dish != null)
{
    <img src="@imageSrc" class="img-thumbnail" width="150" />
    <div>
        <p>@Dish.DishName - @Dish.Description</p>
        <div class="badge badge-info ">
            @Dish.Calories
            калорий
        </div>
    </div>
}
@code {
    [Parameter]
    public DetailsViewModel Dish { get; set; }

    [Parameter]
    public EventCallback<DetailsViewModel> DishChanged { get; set; }

    string imageSrc
    {
        get
        {
            return $"images/{Dish.Image}";
        }
    }
}